*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php


uploads/qsm_logger/
uploads/qsm_form/
/plugins/wordpress-seo/
plugins/wordpress-seo/
plugins/qms_logger/
qms_logger/
wordpress-seo/debug.log
debug.log
