:root {
  --brick--color--black: #333;
  --brick--color--white: #fff;
  --brick--color--lite-gray: #aaa;
  --brick--color--gray: #666;
  --brick--color--light-blue: #6687a9;
  --brick--color--navy-blue: #143352;
  --brick--color--red: #f23126;
  --brick--color--light-pink: #f8e2e6;

  // ======================================================================== //

  --brick--color--dark-text: var(--brick--color--black);
  --brick--color--dim-text: var(--brick--color--gray);
  --brick--color--light-text: var(--brick--color--white);

  --brick--color--light-border: var(--brick--color--lite-gray);
  --brick--color--dark-border: var(--brick--color--gray);

  --brick--color--dark-background: var(--brick--color--navy-blue);
  --brick--color--dim-background: var(--brick--color--lite-gray);
  --brick--color--light-background: var(--brick--color--white);
  --brick--color--accent-background: var(--brick--color--light-blue);
  --brick--color--light-accent-background: var(--brick--color--white);

  --brick--color--alert-text: var(--brick--color--red);
  --brick--color--alert-dark-background: var(--brick--color--red);
  --brick--color--alert-light-background: var(--brick--color--light-pink);


  // ======================================================================== //

  /* ステップ表示 */
  --brick--color--flow-text: var(--brick--color--dim-text);
  --brick--color--flow-background: var(--brick--color--light-background);

  --brick--color--flow-current-text: var(--brick--color--light-text);
  --brick--color--flow-current-background: var(--brick--color--accent-background);

  /* 必須アイコン・任意アイコン */
  --brick--color--icon-required-text: var(--brick--color--light-text);
  --brick--color--icon-required-background: var(--brick--color--alert-text);

  --brick--color--icon-optional-text: var(--brick--color--light-text);
  --brick--color--icon-optional-background: var(--brick--color--dim-text);

  /* 必須項目の <input> の背景 */
  --brick--color--input-required-background: var(--brick--color--alert-light-background);
  --brick--color--input-optional-background: var(--brick--color--light-background);

  /* 注釈 */
  --brick--color--header-notice-text: var(--brick--color--dim-text);
  --brick--color--body-notice-text: var(--brick--color--alert-text);

  /* バリデーションエラーのメッセージ */
  --brick--color--validation-error-text: var(--brick--color--light-text);
  --brick--color--validation-error-background: var(--brick--color--alert-dark-background);

  /* サブミットボタン・戻るボタン */
  --brick--color--button-submit-text: var(--brick--color--light-text);
  --brick--color--button-submit-background: var(--brick--color--accent-background);

  --brick--color--button-disabled-text: var(--brick--color--light-text);
  --brick--color--button-disabled-background: var(--brick--color--dim-background);

  --brick--color--button-back-text: var(--brick--color--light-text);
  --brick--color--button-back-background: var(--brick--color--dim-background);

  /* 残り必須項目数表示 */
  --brick--color--num-remaining-text: var(--brick--color--light-text);
  --brick--color--num-remaining-background: var(--brick--color--alert-dark-background);
}
