@media print, screen and (min-width: 741px) {
/* For PC */

.l-main {
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }

  &__sub-title {
    display: block;

    text-align: center;
    font-size: 16px;
  }

  &__inner {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;
  }
}

}


@media print, screen and (max-width: 740px) {
/* For SP */

.l-main {
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }

  &__sub-title {
    display: block;

    text-align: center;
    font-size: 16px;
  }
}

}
