.qms4__post-list__list-item{
	position: relative;
}
.item-post-type-fair p.card_date {
    width: 23%;
    padding: 0.6rem 0;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(124, 124, 124, 0.79);
}
.item-post-type-fair.sun p.card_date {
    background-color: rgba(198, 62, 62, 0.54);
}
.item-post-type-fair.sat p.card_date {
    background-color: rgba(0, 116, 201, 0.68);
}
p.card_date span.day {
    width: auto;
    display: block;
    font-size: 22px;
    position: relative;
}
p.card_date span.week {
    width: auto;
    display: block;
    padding: 8px 0 0 0;
    font-size: 12px;
}
p.card_date span.day:after {
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
}