@charset "UTF-8";

.qms3_form_thanks_from          .qms3_form_config_void,
.qms3_form_bcc_notification_tos .qms3_form_config_void,
.qms3_form_notification_tos     .qms3_form_config_void {
  color: #d44;
}


.qms3_form_thanks_from .qms3_form_send_name__config {
  margin: 0;
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 1.2;
}
.qms3_form_thanks_from .qms3_form_send_name__value {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
}

.qms3_form_thanks_from .name,
.qms3_form_thanks_from .mail {
  font-size: 0;
}
.qms3_form_thanks_from .name::before,
.qms3_form_thanks_from .mail::before {
  display: inline-block;
  margin-bottom: 4px;
  padding: 0 .4em;

  color: #111;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;

  border-radius: 4px;
}


.qms3_form_bcc_notification_tos ul,
.qms3_form_notification_tos     ul {
  margin: 0;

  list-style: decimal;
}

.qms3_form_bcc_notification_tos ul::before,
.qms3_form_notification_tos     ul::before {
  display: inline-block;
  margin-bottom: 4px;
  padding: 0 .4em;

  color: #111;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;

  border-radius: 4px;
}


.qms3_form_thanks_from .name.master::before,
.qms3_form_thanks_from .mail.master::before,
.qms3_form_bcc_notification_tos ul.master::before,
.qms3_form_notification_tos     ul.master::before {
  content: "マスター設定";

  border: 1px solid #c60;
  background-color: #ea4;
}
.qms3_form_thanks_from .name.custom::before,
.qms3_form_thanks_from .mail.custom::before,
.qms3_form_bcc_notification_tos ul.custom::before,
.qms3_form_notification_tos     ul.custom::before {
  content: "カスタム設定";

  border: 1px solid #b20;
  background-color: #e87;
}

.qms3_form_bcc_notification_tos li,
.qms3_form_notification_tos     li {
  margin: 0;
  margin-left: 2em;
  font-family: monospace;
  letter-spacing: .06em;
  line-height: 1.5;
}
